@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

.home-section {
  height: 100vh;
  background-color: skyblue;
}

.about-section {
  height: 100vh;
  background-color: skyblue;
}

.project-section {
  height: 100vh;
  background-color: mediumpurple;
}

.contact-section {
  height: 100vh;
  background-color: tomato;
}

#intro.section {
  background: url(../images/JY3A5919.jpg) no-repeat top
    center/cover;
  position: relative;
}

#intro.section .container {
  color: white;
  font-weight: 200;
  left: 0;
  position: absolute;
  top: 12%;
  font-size: 25px;
}
#intro.section .container *:not(span) {
  font-weight: 300;
  line-height: 150%;
  padding: 0 30px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
#intro.section .underline {
  border-bottom: 5px solid #0077B5;
}
#intro.section .teal {
  padding: 0 10px;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.full-height {
  height: 100vh;
}

.section {
  padding-bottom: 30px;
  padding-top: 0px;
  position: relative;
}

.teal-text {
  color: #0077B5!important;
}
.teal {
  background-color: #0077B5!important;
}

#intro.section .container-right {
  color: white;
  font-weight: 200;
  left: 62%;
  position: absolute;
  top: 45%;
  font-size: 25px;
}

h1 {
  font-weight: 200;
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
}

.blinking{
	animation:blinkingText 3s infinite;
}

@keyframes blinkingText{
  0%{		color: #FFFFFF;	}
  70%{		color: #FFFFFF;	}
	90%{	color:transparent;	}
	100%{	color: #FFFFFF;	}
}

@media screen and (max-width: 1110px) {
  .container {
    padding-top: 325px;
  }

  h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 1030px) {
  .container-right {
    display:none;
  }
}