@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:500&display=swap');

/* Page Sections*/
.home-section {
  height: 100vh;
  background-color: skyblue;
}

.about-section {
  height: 100vh;
  background: url(../images/1XDJ9644.jpg) no-repeat top
  center/cover;
  position: relative;
  background-attachment: fixed;
}

.portfolio-section {
  height: 100vh;
  background: url(../images/1XDJ9376.jpg) no-repeat top
  center/cover;
  position: relative;
  background-attachment: fixed;
}

.contact-section {
  padding-top: 20px;
  height: 100vh;
  background: url(../images/1XDJ9544.jpg) no-repeat top
  center/cover;
  position: relative;
  background-attachment: fixed;
}

/* Home Page Start*/
/**/
#intro.section {
  background: url(../images/Profile.jpg) no-repeat top
    center/cover;
  position: relative;
}

#intro.section .container {
  color: white;
  font-weight: 200;
  left: 0;
  position: absolute;
  top: 12%;
  font-size: 25px;
}
#intro.section .container *:not(span) {
  font-weight: 300;
  line-height: 150%;
  padding: 0 30px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}
#intro.section .underline {
  border-bottom: 5px solid #0077B5;
}
#intro.section .teal {
  padding: 0 10px;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.full-height {
  height: 100vh;
}

.section {
  padding-bottom: 30px;
  padding-top: 0px;
  position: relative;
}

.teal-text {
  color: #0077B5!important;
}
.teal {
  background-color: #0077B5!important;
}

#intro.section .container-right {
  color: white;
  font-weight: 200;
  left: 62%;
  position: absolute;
  top: 45%;
  font-size: 25px;
}

h1 {
  font-weight: 200;
  font-size: 4rem;
  font-family: 'Roboto', sans-serif;
}

.blinking{
	animation:blinkingText 0.9s infinite;
}

/* Home Page End*/
/* About Page Start*/

.programmer {
  height: 60%;
  width: auto
}

.about-banner {
  background-color:#FEFEFE;
  padding-top: 1px;
  padding-bottom: 15px;
  padding-left: 35px;
  text-align: justify;
}


blockquote {
  border-left: 5px solid #0077B5;
  color: #0077B5;
  font-size: 50px;
  font-weight: 400;
  margin: 15px 0;
  padding-left: 1.5rem;
}

blockquote * {
  font-size: inherit;
  line-height: inheritl
}


/* About Page End*/
/* Portfolio Page Start*/

.portfolio-banner {
  background-color:#FEFEFE;
  text-align:center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
  text-align: justify;
}

.description {
  padding-right: 30px;
}

.description span {
  font-size: 20px;
  color: #333333;
  text-align: left!important;
}

.code {
  padding-left: 29%;
  font-size: 16px!important;
  font-family: 'Roboto Slab', serif;
}

code {
  padding: 0 2px;
}

/* Portfolio Page End*/
/* Contact Page Start*/

.contact-section .btn-primary {
  background: var(--primaryColor);
  border: 3px solid var(--primaryColor);
  transition: var(--mainTransition);
  text-transform: uppercase;
  cursor: pointer;
}
.contact-section .btn-primary:hover {
  background: transparent;
  color: black;
}

.contact-section h1 {
  text-align: center;
  font-size: 50px;
}

@keyframes blinkingText{
  0%{		color: #FFFFFF;	}
  70%{		color: #FFFFFF;	}
	90%{	color:transparent;	}
	100%{	color: #FFFFFF;	}
}

@media screen and (max-width: 1110px) {
  .container {
    padding-top: 325px;
  }

  h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 1030px) {
  .container-right {
    display:none;
  }
}

@media screen and (min-width: 878px) {
  #intro.section {
    background-attachment: fixed
  }
}

@media only screen and (max-width: 878px) {
  .about-section, .portfolio-section, .contact-section {
    background-attachment: scroll;
  }
}

@media screen and (max-width: 1030px) {
  .code {
    display:none;
  }
}